* {
  box-sizing: border-box;
}
h1 {
  font-family: sans-serif;
  margin-bottom: 15px;
  color: black;
}

p {
  font-family: Helvetica;
  font-size: 120%;
  color: 000;
}

h2 {
  font-size: 25px;
  position: absolute;
  width: 140px;
  height: 30px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: center;
  text-align: center;
  right: 0px;
  top: 0px;
  margin: auto;
}

.section {
  font-family: Helvetica;
  clear: margin;
  border: 1px solid black;
  background-color: #CBC3E3;
  color:  black;
  position: relative;
  padding: 10px;
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 80%;
}

.chicken {
  background-color: rosybrown;
  color: black;
}

.beef {
  background-color: indianred;
  color: white;
}

.sushi {
  background-color: lightgoldenrodyellow;
  color: black;
}

.row {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/** HEADER **/
#header-nav {
  background-color: #CBC3E3;
  border-radius: 0;
  border: 0;
  padding-bottom: 15px;
  padding-top:  15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Helvetica;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 0px;

}
#nav-list a {
  color: #000;
  text-align: center;
  border-bottom: 1px solid #fff; 
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}
